<%- include ('partials/head.ejs') %>
   <body>
      <%- include ('partials/navbar.ejs') %>
      <!-- PERGUNTA -->
         <div class="container">
            <div class="alert alert-dark" role="alert" style="margin-top: 3vh;">
                <h4 class="alert-heading"></b> <%= pergunta.titulo %> </h4>
                <p></p>
                <hr>
                <p class="mb-0"><b>Pergunta:</b> <%= pergunta.pergunta %> </p>
            </div>
         
            <!-- SUA RESPOSTA -->
            <form action="/responder" method="POST">
                <div class="card" style="margin-bottom: 1vh">
                    <div class="card-header">
                        <label for="">Por: <b>Nome do autor</b></label>
                    </div>
                    <div class="card-body">
                        <label for="exampleFormControlTextarea1">Sua resposta</label>
                        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="texto_resposta"></textarea>
                    </div>
                    <div class="card-footer">
                        <input type="hidden" name="idPergunta" value="<%= pergunta.id %>">
                        <button type="submit" class="btn btn-success">Responder</button>
                    </div>
                </div>
            </form>
          <div class="box-card" style="margin-top: 10vh;">
            <div>
                <h3>Respostas</h3>
            </div>
            <div class="card">
                <div class="card-header">
                  Autor: 
                </div>
               
                <div class="card-body">
                  <blockquote class="blockquote mb-0">
                    <p></p>
                    <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
                  </blockquote>
                
                </div>
              </div>
         </div>
         </div>
   </body>
<%- include ('partials/footer.ejs') %>